@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway:wght@100;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a212e;
    color: white;
    font-family:'Segoe UI', sans-serif ;
}
nav{
    width: 85%;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.navbar{
    list-style: none;
    display: flex;
}
.logo{
    width: 120px;
    height: auto;
    cursor: pointer;
}
ul.navbar li{
    width: 90px;
}
ul.navbar li a{
    text-decoration: none;
    color: white;
}
ul.navbar li a:hover{
    text-decoration: underline;
}
.section1{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.intro-desc{
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
}
.illustration{
    width: 350px;
    margin-bottom: 30px;
}
.intro-desc h1{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
}
.intro-desc p{
    width: 500px;
    line-height: 25px;
    font-weight: 500px;
    margin: 0 auto 25px;
}
.intro-desc button{
    width: 250px;
    padding: 14px;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: #59d6be;
    color: #ffffff;
}
.intro-desc a{
    text-decoration: none;
    cursor: pointer;
}
.curvy-bg{
    width: 100%;
    height: 40vh;
    position: relative;
    top: -210px;
    z-index: -1;
}
.section2{
    width: 100%;
    height: auto;
    background-color:#181f2a;
    position: relative;
    top: -210px;
    z-index: -1;
}
.resources{
    width: 70%;
    min-height: 50vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.resources-ex{
    margin: 30px 0;
}
.resources-ex img{
    width: 70px;
    height: auto;
    margin-bottom: 25px;
}
.resources-desc{
    width: 400px;
    line-height: 1.5rem;
    margin-bottom: 50px;
}
.resources-desc h2{
    font-size: 1.2rem;
    font-family: 'Raleway';
    margin-bottom: 10px;
}
.section3 img{
    width: 550px;
    height: auto;
}
.section3{
    width: 85%;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -15%;
}
.section3_desc{
    width: 550px;
}
.section3_desc h1{
    font-size: 2rem;
    width: 300px;
    margin-bottom: 15px;
    font-family: 'Raleway';
}
.section3_desc p{
    margin-bottom: 30px;
}
.section3_desc a{
    color:#486e67;
    margin-right: 7px;
}
.section3_desc img{
    width: 18px;
    padding-left: 3px;
}
.cards{
    width: 90%;
    min-height: 70vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.cards::after{
    content: url(/images/bg-quotes.png);
    position: absolute;
    top: 90px;
    left: -10px;

}
.card1{
    width: 385px;
    height: 200px;
    background: #202a3c;
    padding: 25px 15px;
    box-shadow: 2px 2px 3px #253041;
    z-index: 1;
}
.card-desc{
    width: 345px;
    font-size: 14px;
    line-height: 1.5rem;
}
.profile{
    width: 220px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.profile1{
    width: 50px;
    height: 50px;
    background: url(images/profile-1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.profile-desc span{
    font-size: 14px;
    color: #f3f3f3;
}
.profile2{
    width: 50px;
    height: 50px;
    background: url(images/profile-2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.profile3{
    width: 50px;
    height: 50px;
    background: url(images/profile-3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.sign-up{
    width: 60%;
    height: 30vh;
    margin: auto;
    background-color:#202a3c;
    display: flex;
    text-align: center;
    padding: 20px;
    z-index: 1;
    position: relative;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
    top: 50px;
    border-radius: 15px;
}
.sign-up-desc h1{
    margin-bottom: 15px;
}
form{
    margin-top: 30px;
} 
input[type="email"]{
    width: 500px;
    padding:14px 20px;
    outline: none;
    border: none;
    border-radius: 25px;
    background: #ffff;
    margin-right: 25px;
}
input[type="submit"]{
    width: 200px;
    padding: 14px 20px;
    outline: none;
    border: none;
    color: #ffff;
    background: #59d6be;
    border-radius: 25px;
} 
footer{
    width: 100%;
    height: 60vh;
    background: #0b1523;
    display: flex;
    flex-direction: column;
    position: relative;
}
footer .logo{
    position: relative;
    top: 100px;
    left: 50px;

}
.footer-1{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.location{
    width: 350px;
    display: flex;
}
li{
    list-style: none;
    line-height: 1.8rem;
}
li a{
    text-decoration: none;
    color: #ffff;
}
.fas{
    margin-right: 15px;
}
.fab {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ffff;
    border-radius: 50%;
}
a .fab{
    text-decoration: none;
    color: #ffff;
}
/* .fab:hover{
    color: aqua;
}
/* .contact{

} */ 











@media screen and (max-width: 375px) {
    nav{
        width: 85%;
    }    
    .logo{
        height: auto;
        width: 75px;
    }
    ul:navbar{
        width: 70px;
        margin-right: 5px;
    }
    ul.navbar li:nth-child(2){
        width: 50px;
    }
    ul.navbar li:nth-child(3){
        width: 50px;
    }
    .section1{
        width: 290px;
        margin: auto;
    }
    .illustration{
        width: 340px;
    }
    .intro-desc{
        width: 320px;
        margin: auto;
    }
    .intro-desc h1{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .intro-desc p{
        width: 300px;
        line-height: 1.5rem;
    }
    .intro-desc button{
        width: 200px;
    }
    .curvy-bg{
        display: none;

    }
    .resources{
        width: 85%;
        margin: 250px auto 0;
    }
    .resources-desc{
        width: 300px;
        margin: auto;
    }
    .section3{
        margin-top: 0;
    }
    .section3 img{
        width: 300px;
        height: auto;
        margin-top: -60%;
    }
    .section3_desc h1{
        font-size: 1rem;
        margin: 15px 0;
    }
    .section3_desc p{
       margin-bottom: 30px;
       font-size: 14px; 
    }
    .section3_desc img{
        width: 15px;
    }
    .cards{
        width: 90%;
        min-height: 100vh;
        margin: 100px auto 0;
    }
    .cards::after{
        top:-30px;
        left:-10px;
    }
    .card1{
        width: 350px;
        height: 230px;
        margin-bottom: 25px;
    }
    .card-desc{
        width: 310px;

    }
    .sign-up{
        width: 90%;
        height: 60vh;
        margin: auto;
        position: relative;
        top: 50px;
    }
    .sign-up-desc{
        width: 300px;
    }
    .sign-up-desc h1{
        margin-bottom: 15px;
        font-size: 1.2rem;
    }
    input[type="email"]{
        width: 300px;
        margin-bottom: 15px;
    }
    input[type="submit"]{
        width: 200px;
        margin-bottom: 15px;
    }
    footer{
        height: 120vh;
    }
    footer .logo{
        width: 120px;
        top: 80px;
        left: 30px;
    }
    .footer-1{
        width: 85%;
        flex-direction: column;
    }
    .footer-1 p{
        font-size: 14px;
        margin-bottom: 35px;
        line-height: 1.2rem;
    }
    .about-us{
        margin: 30px 0;
    }
    .social-websites{
        width: 35%;
        margin: 15px auto 0;
    }
    .fab{
        font-size: 10px;
    }
}

